*{
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
}
.container{
    width: 90%;
    margin: 100px auto;
    text-align: center;
}
.diia{
    background-color: black;
    width: 512px;
    height: 512px;
    position: relative;
    padding-top: 128px;
    padding-bottom: 109px;
    /* text-align: center; */
}
.flag {
    margin-top: 32px;
}
.square{
    background-color:#FFCE22;
    width: 512px;
    height: 512px;
    position:absolute;
    left: 541px;
    top: 495px;
    z-index: 2;

}
.glyph {
    position: absolute;
    top: 145px;
    margin-left: 53px;
    rotate: 360deg;
}
.wrappercircle{
    background-color:white;
    width: 512px;
    height: 512px;
    position:absolute;
    border-top:#2137FC 1px solid;
    border-bottom: #2137FC 1px solid;
    left: 964px;
    top: 912px;
    padding: 34px;
    z-index: 1;
}
.circle{
    background-color:#FFCE22;
    width: 444px;
    height: 444px;
    position: absolute;
    border-radius: 222px;

}
.glyphcircle{
    position: absolute;
    bottom: 18px;
    left: 40px;
    rotate: 360deg;

}